* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.container0 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4.8rem;
    margin: 0.6rem;
}
.container1__lista {
    display: flex;
}
.container1__items {
    list-style: none;
    margin: 0.8rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1__items:hover {
    text-decoration: underline;
    cursor: pointer;
}
.container1__grid {
    list-style: none;
    width: rem;
    margin: 0.8rem;
    padding: 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1__grid:hover {
    cursor: pointer;
    background-color: #dfe1e5;
    border-radius: 50%;
}
.container1__btnsession {
    list-style: none;
    margin: 0.8rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1__session {
    text-decoration: none;
    color: white;
    background: #1a73e8;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
    width: 14rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1__session:hover {
    background-color: #1561c4;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
}
.container2__logo {
    width: 100%;
    height: 29rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container2__buscador {
    width: 100%;
    height: 16rem;
    padding: 2rem;
}
.container2__formulario {
    width: 100%;
    height: 14rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container2__top {
    width: 100%;
    height: 4.6rem;
    display: flex;
    justify-content: center;
}
.container2__buscar {
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem 0.5rem 1.4rem;
    border-radius: 2.4rem;
}
.container2__buscar:hover{
    box-shadow: 0 0 0.5rem #dfe1e5;
}
.container2 .material-symbols-outlined {
    color: #dfe1e5;
    padding-right: 1.3rem;
}
.container2__busqueda {
    width: 48.3rem;
    height: 3.4rem;
    border: none;
}
.container2__busqueda:focus {
    outline: none;
}
.container2__microfono {
    width: 4rem;
    height: 4.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
}
.container2__voz {
    width: 2.4rem;
    height: 2.4rem;
}
.container2__bottom {
    width: 58.4rem;
    height: 5.8rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2__buscarysuerte {
    text-decoration: none;
    background-color: #f8f9fa;
    color: #3c4043;
    padding: 0 1.6rem;
    border: 0.1rem solid #f8f9fa;
    margin: 1.1rem 0.7rem;
    font-size: 1.4rem;
    height: 3.6rem;
    border-radius: 0.5rem;
}
.container2__buscarysuerte:hover {
    border: 0.1rem solid #cacbcc;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0 #dfe1e5;
}
.container2__creditos {
    width: 100%;
    height: 24.6rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #4d5156;
}
.container2__idioma {
    color: #1a0dab;
    text-decoration: none;
}
.container2__idioma:hover {
    text-decoration: underline;
}
.container3 {
    width: 100%;
    height: 9.4rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
.container3__top {
    width: 100%;
    height: 4.8rem;
    background-color: #edeff5;
    color: #70757a;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid #d0d2d6;
}
.container3__bottom {
    width: 100%;
    height: 4.6rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #edeff5;
    font-size: 1.5rem;
}
.container3__lista {
    display: flex;
}
.container3__items {
    list-style: none;
    padding: 1.5rem;
}
.container3__items:hover {
    text-decoration: underline;
}
.container3__vinculos {
    text-decoration: none;
    color: #70757a;
}
